* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}
img{max-height: 100%;max-width: 100%;}

body {
  padding: 50px;
  display: flex;
  height: 100vh;
  background-color: #0B0E1A;
}

.game {
  width: 1200px;
  height: 500px;
  margin: 0 auto;
  border-radius: 10px;
  background: linear-gradient(145deg, #0a0d17, #0c0f1c);
  box-shadow: 50px 50px 100px #070810,
    -50px -50px 100px #0f1424;
  border: 2px solid #252D4D;
  overflow: hidden;
  position: relative;
}
.container{height: 100%;white-space: nowrap}
.column {
  position: absolute;
  height: 100%;
  /* width: 120px; */
  /* margin: 0 70px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transform: translateY(-4px);
}

img.cover {
  width: 100%;
  height: auto;
}

img.piece {
  width: 70%;
  height: auto;
}

.up,
.down {
  display: grid;
  justify-items: center;
}

.down {
  transform: rotate(180deg);
}

.knight{position: absolute;height: 80px; left: 50%;transform: translateX(-50%);}
#score{position: absolute;right: 0;top: 0; color: white;margin: 24px;font-size: 2em;font-weight: 600;line-height: 24px ;z-index: 3;}